{% load crispy_forms_tags %}
<!--Edit Period Modal -->
<div class="modal fade" id="editParametersetPeriodModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editParametersetPeriodModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="parametersetPeriodForm" v-on:submit.prevent="onSubmit">
                    {% for i in parameterset_period_form %}
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer" v-if="session">
                <div class="form-check me-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="update_all_periods_in_block">
                    <label class="form-check-label" for="flexCheckDefault">
                      Update all wrist times and graphs in pay block.
                    </label>
                 </div>

                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "sendUpdatePeriods()"
                        v-bind:disabled="reconnecting || working || session.started">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>