<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
           Days ([[session.parameter_set.parameter_set_periods.length]])
        </span>  
        
        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Periods')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">        
        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>
                                <th scope="col" class = "text-nowrap">
                                    Day
                                </th> 
                                <th scope="col" class = "text-nowrap">
                                    Type
                                </th>
                                <th scope="col" class = "text-nowrap">
                                    Yesterday's Min<br>Wrist Minutes
                                </th>
                                <th scope="col" class = "text-nowrap">
                                    Show<br>Survey
                                </th>                             
                                <th scope="col" class = "text-nowrap">
                                    Show<br>Notice
                                </th>
                                <th scope="col" class = "text-nowrap">
                                    Show<br>Graph 1/2
                                </th> 
                                <th scope="col" class = "text-nowrap">
                                    Graph<br>Range 1/2
                                </th>
                                <th scope="col" class = "text-nowrap">
                                    Pay<br>Block
                                </th>
                                <th v-for="(p, index) in session.parameter_set.parameter_set_zone_minutes" v-bind:key="p.id" scope="col" class = "text-nowrap">
                                    [[p.label]] <br>
                                    Individual / Group Bonus
                                </th> 
                                <th scope="col" class = "text-nowrap">
                                    Copy
                                </th>                       
                            </tr>
                        </thead>
                        <tbody id="period_list">
                            <tr v-for="(p, index) in session.parameter_set.parameter_set_periods" v-bind:key="p.id">
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    [[index+1]]
                                </td>
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    [[p.period_type]]
                                </td>
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    [[p.minimum_wrist_minutes]]
                                </td>
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    <span v-if="p.survey_required==1">Yes</span>
                                    <span v-else>No</span>
                                </td>
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    <span v-if="p.show_notice==1">Yes</span>
                                    <span v-else>No</span>
                                </td> 
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    <span v-if="p.show_graph_1==1">Yes</span>
                                    <span v-else>No</span> /
                                    <span v-if="p.show_graph_2==1">Yes</span>
                                    <span v-else>No</span>

                                </td>
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    [[p.graph_1_start_period_number]] to [[p.graph_1_end_period_number]] and 
                                    [[p.graph_2_start_period_number]] to [[p.graph_2_end_period_number]]
                                </td> 
                                <td v-on:click="showEditParametersetPeriod(index)" class="player_table_cell text-nowrap">
                                    [[p.pay_block]]
                                </td>                               
                                <td v-for="(p, index2) in p.parameter_set_period_payments" v-bind:key="p.id" v-on:click="showEditParametersetPeriodPayment(index, index2)" class="player_table_cell text-nowrap">
                                    $[[p.payment]] / $[[p.group_bonus]]
                                </td>
                                <td class="text-nowrap">
                                    <button class="btn btn-outline-primary btn-sm me-2"
                                            type="button"
                                            title="Copy period down"
                                            v-bind:disabled="session.started || reconnecting || working"
                                            v-on:click="sendCopyForward(p.id)">
                                            <i class="fas fa-angle-double-down"></i>
                                    </button>

                                    <button class="btn btn-outline-primary btn-sm"
                                            type="button"
                                            v-show="index>0"
                                            title="Copy previous period"
                                            v-bind:disabled="session.started || reconnecting || working"
                                            v-on:click="sendCopyPrevious(p.id)">
                                            <i class="fas fa-clone"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>

                    <div class="input-group mb-3 w-25">
                        <button class="btn btn-outline-success btn-sm"
                                type="button"
                                title="Add period"
                                v-bind:disabled="session.started || reconnecting || working"
                                v-on:click="sendAddParameterSetPeriod(1)">
                            Add <i class="fas fa-plus"></i>
                        </button>

                        <input v-model="increment_period" type="number" min="1" max="100" class="form-control text-center" v-bind:disabled="session.started || reconnecting || working">

                        <button class="btn btn-outline-danger btn-sm"
                                type="button"
                                title="Remove period"
                                v-bind:disabled="session.started || reconnecting || working || session.parameter_set.parameter_set_periods.length <= 1"
                                v-on:click="sendAddParameterSetPeriod(-1)">
                            Delete <i class="fas fa-minus"></i>
                        </button>
                      </div>

                    

                    

                </div>
            </div>
        </div>  
        
        
    </div>                    
</div> 