
<div class="card" v-if="!show_fitbit_connect &&  session.current_parameter_set_period">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Check In For [[session.current_period_day_of_week]]</span>            

        <span class = "float-end">
            <span class="text-success" v-if="session_player.checked_in_today">You are checked in for [[session.current_period_day_of_week]] <i class="fas fa-check"></i></span>

            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('{{subject_check_in_help_doc}}')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>        
    </div>
    <div class="card-body">     
        <div class="row">
            <div class="col text-end pe-1 text-nowrap">
                Today's wrist time:
            </div>
            <div class="col text-start ps-1" v-if="!show_fitbit_connect" v-bind:style="session_player.wrist_time_met_for_checkin? [] : [{color:'red'}]">
               [[session_player.todays_wrist_minutes]]
            </div>
            <div class="col text-start ps-1" v-else>
                ---
            </div>
        </div>
        <div class="row">
            <div class="col text-end pe-1 text-nowrap">
                Today's wrist time required to check-in:
            </div>
            <div class="col text-start ps-1">
                <span v-if="session.current_parameter_set_period">
                    [[session.current_parameter_set_period.minimum_wrist_minutes_str]]
                </span>
                <span v-else>
                    ---
                </span>
            </div>
        </div>        
        <div class="row">
            <div class="col text-end pe-1 text-nowrap">
                Last Fitbit to phone sync:
            </div>
            <div class="col text-start ps-1" v-bind:style="session_player.fitbit_synced_last_30_min ? [] : [{color:'red'}]">
                [[session_player.fitbit_last_synced]]
            </div>
        </div>
        <div class="row">
            <div class="col text-end pe-1 text-nowrap">
                Today's zone minutes:
            </div>
            <div class="col text-start ps-1">
                [[session_player.todays_zone_minutes]]
            </div>
        </div>
        <div class="row">
            <div class="col text-end pe-1 text-nowrap">
                <span v-if="session_player.checked_in_today">
                    <span  v-if="session.current_parameter_set_period.period_type==='Group Pay'">
                        Your individual earnings today:
                    </span>
                    <span v-else>
                        Your earnings today:
                    </span>
                </span>
                <span v-else>
                    <span  v-if="session.current_parameter_set_period.period_type==='Group Pay'">
                        Your potential individual earnings today:
                    </span>
                    <span v-else>
                        Your potential earnings today:
                    </span>
                </span>                 
            </div>
            <div class="col text-start ps-1">
                $[[session_player.individual_earnings]]
            </div>
        </div>
        <div class="row" v-if="session.current_parameter_set_period.period_type==='Group Pay'">
            <div class="col text-end pe-1 text-nowrap">
                <span v-if="session_player.group_checked_in_today">
                    Your group earnings today:
                </span>
                <span v-else>
                    Your potential group earnings today:<br>
                    <span style="color:red">(Your team is not fully checked in)</span>
                </span>

            </div>
            <div class="col text-start ps-1">
               $[[session_player.group_earnings]]
            </div>
        </div>       
        <div class="row text-end fw-bold" v-if="session_player.survey_link != ''">            

            <div class="col mt-2" v-if="fitbit_error_message ==''">              
                Complete the survey before check in: <a v-bind:href="session_player.survey_link" target="_blank">Open Survey</a>
            </div>                                 
        </div>
        <div class="row text-end" v-else>            

            <div class="col mt-2" v-if="fitbit_error_message ==''">              
                <span style="color:red" class="me-2">
                    [[check_in_error_message]]
                </span>
                <button class="btn btn-outline-primary" 
                        type="button" 
                        v-on:click = "checkIn()" 
                        v-bind:disabled="reconnecting || working"> 
                    
                    <span v-if="session_player.checked_in_today">
                        Check In Again <i class="fas fa-check"></i>
                    </span>
                    <span v-else>
                        Check In <i class="fas fa-check"></i>
                    </span>
                    
                </button>
            </div>   
            <div class="col mt-2" v-else style="color:red">              
                [[fitbit_error_message]]
            </div>                     
        </div>
        
    </div>                    
</div> 