{%include "subject/subject_home/connect/end_game_modal.html"%}

<div class="card" v-if="show_fitbit_connect">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Connect Fitbit</span>           

    </div>
    <div class="card-body">      
        <div class="row text-center mt-4 mb-4" >
            <div class="col">
               <a href="{{fitbit_registration_link}}" class="fs-2 fw-bold text-danger">Connect</a>
            </div>
        </div> 
        
    </div>                    
</div> 