{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>

    .instructions{
        height: 300px;
        overflow-y:scroll;
    }

    .graph {

        background-color: white; 
        border-style: solid;
        border-width: 1px;
    }
       
</style>

{%endblock head%}

{% block content %}

<!-- modals -->

<!-- instructions -->
<div class="row justify-content-lg-center mt-4" v-cloak v-show="session.current_experiment_phase == 'Instructions'">
    <div class="col-md">
        {%include "subject/subject_home/instructions/instructions_card.html"%}
    </div>
</div>

<!-- experiment -->

<!-- not started -->
<div class="row justify-content-center mt-4" v-cloak v-show="session.started == false || session.is_before_first_period">
    <div class="col-12 fs-4 fw-bold text-center">
        <br>
        <br>
        <br>
        <br>
        Please wait for the experiment to begin.
    </div>
</div>

<!-- complete -->
<div class="row justify-content-center mt-4" v-cloak v-show="session.finished || session.is_after_last_period">
    <div class="col-12 fs-4 fw-bold text-center">
        <br>
        <br>
        <br>
        <br>
        The experiment is complete, thank you for your participation.
    </div>
</div>

<!-- graph -->
<div class="row justify-content-center mt-4" v-cloak v-show="!session.is_after_last_period && session.started && !session.is_before_first_period">
    <div class="col-md">
        {%include "subject/subject_home/graph/graph_card.html"%}                
    </div>
</div>

<!-- summary -->
<div class="row justify-content-center mt-4" v-cloak v-show="!session.is_after_last_period && session.started && !session.is_before_first_period && first_load_done">

    <div class="col-lg">
        {%include "subject/subject_home/summary/summary_card.html"%}     
    </div>

    <div class="col-lg mt-4 mt-lg-0">
        {%include "subject/subject_home/checkin/checkin_card.html"%}     
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md text-end text-muted">
        <span class="align-middle">Client [[session_player.player_number]]</span>
    </div>  
</div>

{% endblock %}