{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/staff_session_parameters/staff_session_parameters.js"%}

        tinyMCE.init({
            target: document.getElementById('id_notice_text'),
            height : "400",
            theme: "silver",
            plugins: "directionality,paste,searchreplace,code",
            directionality: "{{ directionality }}",
        });

        tinyMCE.init({
            target: document.getElementById('id_completion_message'),
            height : "200",
            theme: "silver",
            plugins: "directionality,paste,searchreplace,code",
            directionality: "{{ directionality }}",
        });
    
        // Prevent Bootstrap dialog from blocking focusin
        document.addEventListener('focusin', (e) => {
            if (e.target.closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
                e.stopImmediatePropagation();
            }
        });
        
    });

   

</script>
<style>

    .player_table_row {
        cursor: pointer;
    }

    .player_table_cell{
        cursor: pointer;
    }

    .player_table_cell:hover {
        background-color:#ececec;
    }
</style>

{%endblock head%}

{% block content %}

<!-- modals -->
<div v-if="session">
{%include "staff/staff_session_parameters/players/edit_parameterset_player_modal.html"%}
{%include "staff/staff_session_parameters/control/upload_parameters_modal.html"%}
{%include "staff/staff_session_parameters/control/import_parameters_modal.html"%}
{%include "staff/staff_session_parameters/pay_blocks/edit_parameterset_pay_block_modal.html"%}
{%include "staff/staff_session_parameters/pay_blocks/edit_parameterset_pay_block_payment_modal.html"%}
{%include "help_modal.html"%}
</div>
{%include "staff/staff_session_parameters/general_settings/edit_parameterset_modal.html"%}
{%include "staff/staff_session_parameters/periods/edit_parameterset_periods_modal.html"%}

<!-- cards -->
<div class="row justify-content-lg-center mb-4" v-cloak v-if="session">
    <div class="col-lg">
        {%include "staff/staff_session_parameters/general_settings/general_settings_card.html"%}  
    </div>
    <div class="col-lg">   
        {%include "staff/staff_session_parameters/players/players_card.html"%}                  
    </div>          
    
    <div class="col-lg">
        {%include "staff/staff_session_parameters/control/control_card.html"%}  
    </div>        
</div>

<div class="row justify-content-lg-center mb-4" v-cloak v-if="session">
    <div class="col-lg">
        {%include "staff/staff_session_parameters/pay_blocks/pay_blocks_card.html"%}
    </div>    
</div>

<div class="row justify-content-lg-center" v-cloak v-if="session">
    <div class="col-lg">
        {%include "staff/staff_session_parameters/periods/periods_card.html"%}  
    </div>
</div>

<div class="row justify-content-lg-center mt-4" v-else>
    <div class = "col mt-4 text-center">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>
                        
{% endblock %}