{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/staff_session/staff_session.js"%}

        tinyMCE.init({
            target: document.getElementById('id_invitation_subject'),
            height : "400",
            theme: "silver",
            convert_urls: false,
            promotion: false,
            auto_focus: 'id_text_html',
            plugins: "directionality,searchreplace,code,link,image,lists",
            toolbar: "undo redo | styleselect forecolor bold italic alignleft aligncenter alignright alignjustify outdent indent numlist bullist link code image",
            directionality: "{{ directionality }}",
            license_key: 'gpl',
        });

        // Prevent Bootstrap dialog from blocking focusin
        document.addEventListener('focusin', (e) => {
        if (e.target.closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
            e.stopImmediatePropagation();
        }
        });
    });

    

</script>

<style>

    .graph {

    background-color: white; 
    border-style: solid;
    border-width: 1px;
    }

    .player_table_row {
        cursor: pointer;
    }

    .player_table_cell{
        cursor: pointer;
    }

    .player_table_cell:hover {
        background-color:#ececec;
    }

    .chat {       
        width: 100%;
        height: 600px;
        word-breaK:break-word;
        overflow-y:scroll;
        background-color: ghostwhite;
        display:flex; 
        flex-direction:column-reverse;
    }

</style>

{{ form.media }}

{%endblock head%}

{% block content %}

<!-- modals -->
<div v-if="session">
{%include "help_modal.html"%}
{%include "staff/staff_session/session/edit_session_modal.html"%}
{%include "staff/staff_session/subjects/edit_subject_modal.html"%}
{%include "staff/staff_session/subjects/view_subject_modal.html"%}
{%include "staff/staff_session/subjects/view_subject_chat_modal.html"%}
{%include "staff/staff_session/subjects/upload_email_list.html"%}
{%include "staff/staff_session/subjects/import_session_modal.html"%}
</div>
{%include "staff/staff_session/control/sendInvitationModal.html"%}
<!-- cards -->

<div class="row justify-content-lg-center mt-4" v-cloak v-if="session">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md mb-2">
                {%include "staff/staff_session/subjects/subjects_card.html"%} 
            </div>               
        </div>       
        <div class="row">
            <div class="col-md">
               {%include "staff/staff_session/graph/graph_card.html"%} 
            </div>            
        </div>   
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-md">
                {%include "staff/staff_session/session/session_card.html"%}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md">
                {%include "staff/staff_session/control/control_card.html"%} 
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col-md">
                {%include "staff/staff_session/summary/summary_card.html"%}
            </div>                
        </div>

        <div class="row mt-2" v-show="session.started">
            <div class="col-md">
                {%include "staff/staff_session/payments/payments_card.html"%}
            </div>                
        </div>

        <div class="row mt-2">
            <div class="col-md">
                {%include "staff/staff_session/data/data_card.html"%}
            </div>                
        </div>
                                           
    </div>
</div>

<div class="row justify-content-lg-center mt-4" v-else>
    <div class = "col mt-4 text-center">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>

{% endblock %}