<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Players ([[Object.keys(session.parameter_set.parameter_set_players).length]]) 
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Players')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>
                                <th scope="col" class = "m-1 p-1">
                                    #
                                </th> 
                                <th scope="col" class = "m-1 p-1">
                                    Label
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Color
                                </th>                           
                            </tr>
                        </thead>
                        <tbody id="player_list">
                            <tr v-for="(p, index) in session.parameter_set.parameter_set_players_order" v-bind:key="p.id">
                                <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                    [[index+1]]
                                </td>
                                <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                    [[session.parameter_set.parameter_set_players[p].id_label]]
                                </td>
                                <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell" v-bind:style="{color : session.parameter_set.parameter_set_players[p].display_color}">
                                    [[session.parameter_set.parameter_set_players[p].display_color]]
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>

                    <div class="input-group">                        
                        <button class="btn btn-outline-success btn-sm"
                                type="button"
                                title="Add player"
                                v-bind:disabled="session.started || reconnecting || working"
                                v-on:click="sendAddParameterSetPlayer()">
                            Add <i class="fas fa-plus"></i>
                        </button>

                        <input v-model="increment_player" type="number" min="1" max="100" class="form-control text-center" v-bind:disabled="session.started || reconnecting || working">

                        <button type="button"
                                class="btn btn-outline-danger"
                                title="Remove player from parameter set."
                                v-on:click = "sendRemoveParameterSetPlayer()"
                                v-bind:disabled="reconnecting || working ||  session.parameter_set.parameter_set_players.length <= 1 || session.started">
                            Delete <i class="fas fa-minus"></i> 
                        </button>
                    </div>
                </div>
            </div>
        </div>  
        
    </div>                    
</div> 